* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    
   
}

header {
    background: #fff;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: grey;
   
}

header > img {
    width: 70px;
    height: 70px;
}

header > h1 {
    font-size: 32px;
   margin-left: 13px;
   
}

header > nav > ul {
    display: flex;
    list-style: none;
    gap: 35px;
    margin-right: 220px;
    color: grey;
    text-transform: uppercase;
    font-size: 24px;
   
}

header > nav > ul > li > a {
    text-decoration: none;
    color: gray;
}